scripts/ai-ops/n8n-merge-pr.json
{
  "name": "STOA AI Factory — Merge PR Relay",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "merge-pr",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "merge-webhook",
      "name": "Merge Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "webhookId": "merge-pr"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-pr",
              "leftValue": "={{ $json.query.pr }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "id": "check-token",
              "leftValue": "={{ $json.query.token }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "validate-params",
      "name": "Validate Parameters",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [400, 300]
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\n\nconst pr = $input.first().json.query.pr;\nconst token = $input.first().json.query.token;\n\nconst secret = $env.APPROVE_HMAC_SECRET;\n\nif (!secret) {\n  throw new Error('APPROVE_HMAC_SECRET not configured — set it as Docker env var');\n}\n\nconst expected = crypto.createHmac('sha256', secret).update(pr).digest('hex');\n\nif (token !== expected) {\n  throw new Error('Invalid HMAC token');\n}\n\nreturn [{ json: { pr, token, valid: true } }];"
      },
      "id": "validate-hmac",
      "name": "Validate HMAC",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [600, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.github.com/repos/stoa-platform/stoa/pulls/{{ $json.pr }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        }
      },
      "id": "fetch-pr",
      "name": "Fetch PR",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [800, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "github-pat",
          "name": "GitHub PAT"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/stoa-platform/stoa/pulls/{{ $('Validate HMAC').first().json.pr }}/merge",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"merge_method\": \"squash\" }"
      },
      "id": "merge-pr",
      "name": "Merge PR",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1000, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "github-pat",
          "name": "GitHub PAT"
        }
      }
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://api.github.com/repos/stoa-platform/stoa/git/refs/heads/{{ $('Fetch PR').first().json.head.ref }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "options": {}
      },
      "id": "delete-branch",
      "name": "Delete Branch",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1200, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "github-pat",
          "name": "GitHub PAT"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWith": "redirect",
        "redirectURL": "=https://github.com/stoa-platform/stoa/pull/{{ $('Validate HMAC').first().json.pr }}"
      },
      "id": "redirect-to-pr",
      "name": "Redirect to PR",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1400, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"error\": \"Unauthorized — invalid or missing merge token\" }",
        "options": {
          "responseCode": 403
        }
      },
      "id": "error-response",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [600, 500]
    }
  ],
  "connections": {
    "Merge Webhook": {
      "main": [
        [
          {
            "node": "Validate Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Parameters": {
      "main": [
        [
          {
            "node": "Validate HMAC",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate HMAC": {
      "main": [
        [
          {
            "node": "Fetch PR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch PR": {
      "main": [
        [
          {
            "node": "Merge PR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge PR": {
      "main": [
        [
          {
            "node": "Delete Branch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Branch": {
      "main": [
        [
          {
            "node": "Redirect to PR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "ai-factory"
    }
  ]
}
