scripts/ai-ops/n8n-merge-pr.json
{
  "name": "STOA AI Factory — Merge PR Relay",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "merge-pr",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "merge-webhook",
      "name": "Merge Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "webhookId": "merge-pr"
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst https = require('https');\nconst { URL } = require('url');\n\nfunction httpsRequest(options, body) {\n  return new Promise((resolve, reject) => {\n    const req = https.request(options, (res) => {\n      let data = '';\n      res.on('data', (chunk) => { data += chunk; });\n      res.on('end', () => {\n        try { resolve({ statusCode: res.statusCode, body: JSON.parse(data) }); }\n        catch { resolve({ statusCode: res.statusCode, body: data }); }\n      });\n    });\n    req.on('error', reject);\n    if (body) req.write(body);\n    req.end();\n  });\n}\n\nfunction ghRequest(method, path, pat, body) {\n  const url = new URL(`https://api.github.com${path}`);\n  const opts = {\n    hostname: url.hostname,\n    path: url.pathname,\n    method,\n    headers: {\n      'Authorization': `token ${pat}`,\n      'Accept': 'application/vnd.github.v3+json',\n      'User-Agent': 'n8n-stoa-factory'\n    }\n  };\n  if (body) {\n    const bodyStr = JSON.stringify(body);\n    opts.headers['Content-Type'] = 'application/json';\n    opts.headers['Content-Length'] = Buffer.byteLength(bodyStr);\n    return httpsRequest(opts, bodyStr);\n  }\n  return httpsRequest(opts);\n}\n\nconst pr = $input.first().json.query.pr;\nconst token = $input.first().json.query.token;\nconst repo = 'stoa-platform/stoa';\nconst prURL = `https://github.com/${repo}/pull/${pr}`;\n\n// Validate params\nif (!pr || !token) {\n  return [{ json: { redirectURL: `https://github.com/${repo}` } }];\n}\n\n// Validate HMAC\nconst secret = $env.APPROVE_HMAC_SECRET;\nif (!secret) {\n  return [{ json: { redirectURL: `https://github.com/${repo}` } }];\n}\nconst expected = crypto.createHmac('sha256', secret).update(pr).digest('hex');\nif (token !== expected) {\n  return [{ json: { redirectURL: `https://github.com/${repo}` } }];\n}\n\nconst pat = $env.GITHUB_PAT;\n\ntry {\n  // Fetch PR (get branch name)\n  const prRes = await ghRequest('GET', `/repos/${repo}/pulls/${pr}`, pat);\n  if (prRes.statusCode !== 200) {\n    return [{ json: { redirectURL: prURL } }];\n  }\n  const branchRef = prRes.body.head && prRes.body.head.ref;\n\n  // Squash merge\n  const mergeRes = await ghRequest('PUT', `/repos/${repo}/pulls/${pr}/merge`, pat, { merge_method: 'squash' });\n\n  // Delete branch (best-effort)\n  if (branchRef) {\n    try {\n      await ghRequest('DELETE', `/repos/${repo}/git/refs/heads/${branchRef}`, pat);\n    } catch (e) { /* ignore */ }\n  }\n\n  return [{ json: { redirectURL: prURL } }];\n} catch (e) {\n  return [{ json: { redirectURL: prURL } }];\n}"
      },
      "id": "process-merge",
      "name": "Process Merge",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "respondWith": "redirect",
        "redirectURL": "={{ $json.redirectURL }}"
      },
      "id": "redirect-response",
      "name": "Redirect",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [700, 300]
    }
  ],
  "connections": {
    "Merge Webhook": {
      "main": [
        [
          {
            "node": "Process Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Merge": {
      "main": [
        [
          {
            "node": "Redirect",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "notes": "v2: Consolidated to single Code node. Requires env vars: APPROVE_HMAC_SECRET, GITHUB_PAT. n8n settings: NODE_FUNCTION_ALLOW_BUILTIN=crypto,https,url,buffer and N8N_BLOCK_ENV_ACCESS_IN_NODE=false"
  },
  "tags": [
    {
      "name": "ai-factory"
    }
  ]
}
