scripts/ai-ops/n8n-approve-ticket.json
{
  "name": "STOA AI Factory — Approve Ticket Relay",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "approve-ticket",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "approve-webhook",
      "name": "Approve Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "webhookId": "approve-ticket"
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst https = require('https');\nconst { URL } = require('url');\n\nfunction httpsRequest(options, body) {\n  return new Promise((resolve, reject) => {\n    const req = https.request(options, (res) => {\n      let data = '';\n      res.on('data', (chunk) => { data += chunk; });\n      res.on('end', () => resolve({ statusCode: res.statusCode, body: data }));\n    });\n    req.on('error', reject);\n    if (body) req.write(body);\n    req.end();\n  });\n}\n\nconst issue = $input.first().json.query.issue;\nconst token = $input.first().json.query.token;\n\n// Validate params\nif (!issue || !token) {\n  return [{ json: { redirectURL: 'https://github.com/stoa-platform/stoa' } }];\n}\n\n// Validate HMAC\nconst secret = $env.APPROVE_HMAC_SECRET;\nif (!secret) {\n  return [{ json: { redirectURL: 'https://github.com/stoa-platform/stoa' } }];\n}\nconst expected = crypto.createHmac('sha256', secret).update(issue).digest('hex');\nif (token !== expected) {\n  return [{ json: { redirectURL: 'https://github.com/stoa-platform/stoa' } }];\n}\n\n// Post /go comment\ntry {\n  const pat = $env.GITHUB_PAT;\n  const postBody = JSON.stringify({ body: '/go' });\n  const url = new URL(`https://api.github.com/repos/stoa-platform/stoa/issues/${issue}/comments`);\n  const res = await httpsRequest({\n    hostname: url.hostname,\n    path: url.pathname,\n    method: 'POST',\n    headers: {\n      'Authorization': `token ${pat}`,\n      'Accept': 'application/vnd.github.v3+json',\n      'Content-Type': 'application/json',\n      'User-Agent': 'n8n-stoa-factory',\n      'Content-Length': Buffer.byteLength(postBody)\n    }\n  }, postBody);\n\n  return [{ json: { redirectURL: `https://github.com/stoa-platform/stoa/issues/${issue}` } }];\n} catch (e) {\n  return [{ json: { redirectURL: `https://github.com/stoa-platform/stoa/issues/${issue}` } }];\n}"
      },
      "id": "process-approve",
      "name": "Process Approve",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "respondWith": "redirect",
        "redirectURL": "={{ $json.redirectURL }}"
      },
      "id": "redirect-response",
      "name": "Redirect",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [700, 300]
    }
  ],
  "connections": {
    "Approve Webhook": {
      "main": [
        [
          {
            "node": "Process Approve",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Approve": {
      "main": [
        [
          {
            "node": "Redirect",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "notes": "v2: Consolidated to single Code node. Requires env vars: APPROVE_HMAC_SECRET, GITHUB_PAT. n8n settings: NODE_FUNCTION_ALLOW_BUILTIN=crypto,https,url,buffer and N8N_BLOCK_ENV_ACCESS_IN_NODE=false"
  },
  "tags": [
    {
      "name": "ai-factory"
    }
  ]
}
