scripts/ai-ops/n8n-approve-ticket.json
{
  "name": "STOA AI Factory — Approve Ticket Relay",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "approve-ticket",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "approve-webhook",
      "name": "Approve Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "webhookId": "approve-ticket"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-issue",
              "leftValue": "={{ $json.query.issue }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "id": "check-token",
              "leftValue": "={{ $json.query.token }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "validate-params",
      "name": "Validate Parameters",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [400, 300]
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\n\nconst issue = $input.first().json.query.issue;\nconst token = $input.first().json.query.token;\n\n// n8n cloud: use $vars (Settings > Variables). Self-hosted: use $env.\nconst secret = $vars?.APPROVE_HMAC_SECRET || $env?.APPROVE_HMAC_SECRET;\n\nif (!secret) {\n  throw new Error('APPROVE_HMAC_SECRET not configured — add it in n8n Settings > Variables');\n}\n\nconst expected = crypto.createHmac('sha256', secret).update(issue).digest('hex');\n\nif (token !== expected) {\n  throw new Error('Invalid HMAC token');\n}\n\nreturn [{ json: { issue, token, valid: true } }];"
      },
      "id": "validate-hmac",
      "name": "Validate HMAC",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [600, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.github.com/repos/stoa-platform/stoa/issues/{{ $json.issue }}/comments",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"body\": \"/go\" }"
      },
      "id": "post-go-comment",
      "name": "Post /go Comment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [800, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "github-pat",
          "name": "GitHub PAT"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "redirect",
        "redirectURL": "=https://github.com/stoa-platform/stoa/issues/{{ $('Validate HMAC').first().json.issue }}"
      },
      "id": "redirect-to-issue",
      "name": "Redirect to Issue",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"error\": \"Unauthorized — invalid or missing approval token\" }",
        "options": {
          "responseCode": 403
        }
      },
      "id": "error-response",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [600, 500]
    }
  ],
  "connections": {
    "Approve Webhook": {
      "main": [
        [
          {
            "node": "Validate Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Parameters": {
      "main": [
        [
          {
            "node": "Validate HMAC",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate HMAC": {
      "main": [
        [
          {
            "node": "Post /go Comment",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post /go Comment": {
      "main": [
        [
          {
            "node": "Redirect to Issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "ai-factory"
    }
  ]
}
