scripts/ai-ops/n8n-linear-to-claude.json
{
  "name": "STOA AI Factory — Linear → Council → Claude → Slack",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "stoa-linear-webhook",
        "responseMode": "onReceived",
        "responseCode": 200
      },
      "id": "webhook-trigger",
      "name": "Linear Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "webhookId": "stoa-linear-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "filter-in-progress",
              "leftValue": "={{ $json.body.data.state.name }}",
              "rightValue": "In Progress",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "filter-autopilot-label",
              "leftValue": "={{ $json.body.data.labels.some(l => l.name === \"autopilot\") }}",
              "rightValue": "=true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "filter-state-changed",
              "leftValue": "={{ $json.body.updatedFrom?.stateId ?? '' }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "filter-status",
      "name": "Filter: In Progress Only",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [400, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.github.com/repos/stoa-platform/stoa/dispatches",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"event_type\": \"linear-ticket-started\",\n  \"client_payload\": {\n    \"ticket_id\": \"{{ $json.body.data.identifier }}\",\n    \"ticket_title\": \"{{ $json.body.data.title }}\",\n    \"ticket_description\": \"{{ $json.body.data.description }}\",\n    \"ticket_priority\": \"{{ $json.body.data.priorityLabel }}\",\n    \"ticket_estimate\": \"{{ $json.body.data.estimate }}\"\n  }\n}"
      },
      "id": "dispatch-github",
      "name": "Dispatch GitHub Actions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [600, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "github-pat",
          "name": "GitHub PAT"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEBHOOK }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"blocks\": [\n    {\n      \"type\": \"header\",\n      \"text\": {\n        \"type\": \"plain_text\",\n        \"text\": \":rocket: Linear → Claude: {{ $json.body.data.identifier }}\",\n        \"emoji\": true\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*{{ $json.body.data.title }}*\\nTicket moved to In Progress. Council validation + autonomous implementation triggered.\\n\\n:hourglass: Waiting for Council report...\"\n      }\n    }\n  ]\n}"
      },
      "id": "slack-notify-start",
      "name": "Slack: Pipeline Started",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [600, 500]
    }
  ],
  "connections": {
    "Linear Webhook": {
      "main": [
        [
          {
            "node": "Filter: In Progress Only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter: In Progress Only": {
      "main": [
        [
          {
            "node": "Dispatch GitHub Actions",
            "type": "main",
            "index": 0
          },
          {
            "node": "Slack: Pipeline Started",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "ai-factory"
    }
  ]
}
