scripts/ai-ops/n8n-linear-to-claude.json
{
  "name": "STOA AI Factory — Linear → Council → Claude → Slack",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "stoa-linear-webhook",
        "responseMode": "onReceived",
        "responseCode": 200
      },
      "id": "webhook-trigger",
      "name": "Linear Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "webhookId": "stoa-linear-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "filter-in-progress",
              "leftValue": "={{ $json.body.data.state.name }}",
              "rightValue": "In Progress",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "filter-state-changed",
              "leftValue": "={{ $json.body.updatedFrom?.stateId ?? '' }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "filter-status",
      "name": "Filter: In Progress Only",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [400, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.SLACK_BOT_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json; charset=utf-8"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"channel\": \"{{ $vars.SLACK_CHANNEL_ID }}\",\n  \"blocks\": [\n    {\n      \"type\": \"header\",\n      \"text\": {\n        \"type\": \"plain_text\",\n        \"text\": \":rocket: Linear → Claude: {{ $('Filter: In Progress Only').first().json.body.data.identifier }}\",\n        \"emoji\": true\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*{{ $('Filter: In Progress Only').first().json.body.data.title }}*\\nTicket moved to In Progress. Council validation + autonomous implementation triggered.\\n\\n:hourglass: Waiting for Council report...\"\n      }\n    }\n  ]\n}",
        "options": {}
      },
      "id": "slack-notify-start",
      "name": "Slack: Pipeline Started",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [600, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Extract message timestamp from Slack chat.postMessage response.\n// The ts is used for threading: all subsequent pipeline notifications\n// (Council, implement, done) reply under this initial message.\nconst response = $input.first().json;\nconst ts = response?.ts ?? '';\nconst ok = response?.ok ?? false;\n\nif (!ok) {\n  // Slack call failed (token missing, channel wrong, etc.)\n  // Non-blocking: dispatch proceeds without thread_ts\n  console.log('Slack Bot API response not ok — threading disabled for this run');\n}\n\nreturn [{ json: { ts, ok } }];"
      },
      "id": "store-message-ts",
      "name": "Store Message TS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.github.com/repos/stoa-platform/stoa/dispatches",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"event_type\": \"linear-ticket-started\",\n  \"client_payload\": {\n    \"ticket_id\": \"{{ $('Filter: In Progress Only').first().json.body.data.identifier }}\",\n    \"ticket_title\": \"{{ $('Filter: In Progress Only').first().json.body.data.title }}\",\n    \"ticket_description\": \"{{ $('Filter: In Progress Only').first().json.body.data.description }}\",\n    \"ticket_priority\": \"{{ $('Filter: In Progress Only').first().json.body.data.priorityLabel }}\",\n    \"ticket_estimate\": \"{{ $('Filter: In Progress Only').first().json.body.data.estimate }}\",\n    \"mega_id\": \"{{ $('Filter: In Progress Only').first().json.body.data.parent?.identifier ?? '' }}\",\n    \"phase_hint\": \"{{ $('Filter: In Progress Only').first().json.body.data.sortOrder ?? '' }}\",\n    \"component\": \"{{ ($('Filter: In Progress Only').first().json.body.data.labels?.nodes ?? []).find(l => ['api','gateway','ui','portal','e2e'].includes(l.name))?.name ?? '' }}\",\n    \"slack_thread_ts\": \"{{ $('Store Message TS').first().json.ts ?? '' }}\"\n  }\n}"
      },
      "id": "dispatch-github",
      "name": "Dispatch GitHub Actions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1000, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "github-pat",
          "name": "GitHub PAT"
        }
      }
    }
  ],
  "connections": {
    "Linear Webhook": {
      "main": [
        [
          {
            "node": "Filter: In Progress Only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter: In Progress Only": {
      "main": [
        [
          {
            "node": "Slack: Pipeline Started",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack: Pipeline Started": {
      "main": [
        [
          {
            "node": "Store Message TS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Message TS": {
      "main": [
        [
          {
            "node": "Dispatch GitHub Actions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "ai-factory"
    }
  ]
}
