scripts/ai-ops/n8n-slack-interactive.json
{
  "name": "STOA AI Factory \u2014 Slack Interactive Handler",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "slack-interactive",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true
        }
      },
      "id": "interactive-webhook",
      "name": "Slack Interactive Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        300
      ],
      "webhookId": "slack-interactive"
    },
    {
      "parameters": {
        "jsCode": "// All-in-one: Validate Slack signature \u2192 Check allowlist \u2192 Route action \u2192 Call GitHub API\nconst crypto = require('crypto');\nconst https = require('https');\nconst { URLSearchParams } = require('url');\n\n// --- Helper: HTTPS request ---\nfunction httpsRequest(url, method, hdrs, body) {\n  return new Promise((resolve, reject) => {\n    const urlObj = new URL(url);\n    const bodyStr = body ? JSON.stringify(body) : null;\n    const options = {\n      hostname: urlObj.hostname,\n      path: urlObj.pathname + urlObj.search,\n      method,\n      headers: {\n        ...hdrs,\n        ...(bodyStr ? { 'Content-Type': 'application/json', 'Content-Length': Buffer.byteLength(bodyStr) } : {})\n      }\n    };\n    const req = https.request(options, (res) => {\n      let data = '';\n      res.on('data', chunk => data += chunk);\n      res.on('end', () => resolve({ status: res.statusCode, data }));\n    });\n    req.on('error', reject);\n    if (bodyStr) req.write(bodyStr);\n    req.end();\n  });\n}\n\n// --- 1. Validate Slack Signature ---\nconst headers = $input.first().json.headers;\nconst rawBody = Buffer.from($input.first().binary.data.data, 'base64').toString('utf-8');\nconst signature = headers['x-slack-signature'];\nconst timestamp = headers['x-slack-request-timestamp'];\nconst signingSecret = $env.SLACK_SIGNING_SECRET;\n\nif (!signingSecret) {\n  return [{ json: { responseText: 'Error: SLACK_SIGNING_SECRET not configured' } }];\n}\n\nconst now = Math.floor(Date.now() / 1000);\nif (Math.abs(now - parseInt(timestamp, 10)) > 300) {\n  return [{ json: { responseText: 'Error: Request timestamp too old' } }];\n}\n\nconst sigBasestring = `v0:${timestamp}:${rawBody}`;\nconst expected = 'v0=' + crypto.createHmac('sha256', signingSecret).update(sigBasestring).digest('hex');\nif (!crypto.timingSafeEqual(Buffer.from(signature || ''), Buffer.from(expected))) {\n  return [{ json: { responseText: 'Error: Invalid Slack signature' } }];\n}\n\n// --- 2. Parse Payload ---\nconst payload = JSON.parse(decodeURIComponent(rawBody.replace('payload=', '')));\nconst action = payload.actions?.[0] || {};\nconst actionId = action.action_id || '';\nconst actionValue = action.value || '';\nconst userId = payload.user?.id || '';\n\n// --- 3. Check Allowlist ---\nconst adminUsers = ($env.SLACK_ADMIN_USERS || '').split(',').map(s => s.trim()).filter(Boolean);\nconst allowedUsers = ($env.SLACK_ALLOWED_USERS || '').split(',').map(s => s.trim()).filter(Boolean);\n\nlet tier = 'readonly';\nif (adminUsers.length > 0 && adminUsers.includes(userId)) {\n  tier = 'admin';\n} else if (adminUsers.length === 0 && allowedUsers.length > 0 && allowedUsers.includes(userId)) {\n  tier = 'admin';\n} else if (allowedUsers.includes(userId)) {\n  tier = 'allowed';\n}\n\nif (tier === 'readonly') {\n  if (allowedUsers.length > 0) {\n    return [{ json: { responseText: 'Error: Not authorized' } }];\n  }\n  tier = 'admin';\n}\n\nconst adminOnlyPrefixes = ['scan_backlog:', 'trigger_implement:', 'close_abandoned_prs'];\nconst isAdminAction = adminOnlyPrefixes.some(p => actionId.startsWith(p));\nif (isAdminAction && tier !== 'admin') {\n  return [{ json: { responseText: 'Error: Admin action requires admin tier' } }];\n}\n\n// --- 4. Route & Execute ---\nconst githubToken = $env.GITHUB_PAT;\nconst repo = 'stoa-platform/stoa';\nconst ghHeaders = {\n  'Accept': 'application/vnd.github.v3+json',\n  'Authorization': `token ${githubToken}`,\n  'User-Agent': 'n8n-stoa-ai-factory'\n};\n\nlet responseText = 'Unknown action \u2014 ignored.';\n\ntry {\n  if (actionId.startsWith('approve_ticket:')) {\n    await httpsRequest(\n      `https://api.github.com/repos/${repo}/issues/${actionValue}/comments`,\n      'POST', ghHeaders, { body: '/go' }\n    );\n    responseText = `\u2705 Approved ticket \u2014 posted /go on issue #${actionValue}`;\n\n  } else if (actionId.startsWith('approve_plan:')) {\n    await httpsRequest(\n      `https://api.github.com/repos/${repo}/issues/${actionValue}/comments`,\n      'POST', ghHeaders, { body: '/go-plan' }\n    );\n    responseText = `\u2705 Approved plan \u2014 posted /go-plan on issue #${actionValue}`;\n\n  } else if (actionId.startsWith('merge_pr:')) {\n    await httpsRequest(\n      `https://api.github.com/repos/${repo}/pulls/${actionValue}/merge`,\n      'PUT', ghHeaders, { merge_method: 'squash' }\n    );\n    responseText = `\u2705 Merged PR #${actionValue} (squash)`;\n\n  } else if (actionId === 'close_abandoned_prs') {\n    // List open PRs labelled 'abandoned'\n    const listRes = await httpsRequest(\n      `https://api.github.com/repos/${repo}/issues?labels=abandoned&state=open&per_page=50`,\n      'GET', ghHeaders\n    );\n    const issues = JSON.parse(listRes.data).filter(i => i.pull_request);\n    let closed = 0;\n    for (const issue of issues) {\n      await httpsRequest(\n        `https://api.github.com/repos/${repo}/issues/${issue.number}/comments`,\n        'POST', ghHeaders, { body: 'Auto-closed by PR Hygiene pipeline.' }\n      );\n      await httpsRequest(\n        `https://api.github.com/repos/${repo}/issues/${issue.number}`,\n        'PATCH', ghHeaders, { state: 'closed' }\n      );\n      closed++;\n    }\n    responseText = `\u2705 Closed ${closed} abandoned PR(s).`;\n  }\n} catch (err) {\n  responseText = `\u274c GitHub API error: ${err.message}`;\n}\n\nreturn [{ json: { responseText } }];"
      },
      "id": "process-action",
      "name": "Process Action",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"response_type\": \"ephemeral\", \"text\": {{ JSON.stringify($json.responseText) }} }",
        "options": {
          "responseCode": 200
        }
      },
      "id": "send-response",
      "name": "Send Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        800,
        300
      ]
    }
  ],
  "connections": {
    "Slack Interactive Webhook": {
      "main": [
        [
          {
            "node": "Process Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Action": {
      "main": [
        [
          {
            "node": "Send Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "ai-factory"
    }
  ],
  "meta": {
    "notes": "Slack Interactive Handler for STOA AI Factory (v3 \u2014 consolidated for n8n v2).\n\nSingle Code node handles: Slack signature validation, allowlist check, routing, GitHub API calls.\nReplaces multi-node v2 which used Switch v3.2 (broken in n8n v2.8.4).\n\nActions: approve_ticket, approve_plan, merge_pr, close_abandoned_prs.\nRequired env vars: SLACK_SIGNING_SECRET, GITHUB_PAT, SLACK_ADMIN_USERS, SLACK_ALLOWED_USERS.\nRequired n8n env: NODE_FUNCTION_ALLOW_BUILTIN=crypto,https,url,buffer, N8N_BLOCK_ENV_ACCESS_IN_NODE=false."
  }
}
